body {
   background-color: rgb(223,223,223);
   font-size: 100%;

}

header {
   align:
}

p {
   margin:0 auto;
   font-size: 1em;
   overflow: hidden;
   max-width: 30em;
   color: rgb(31, 31, 31);
   padding-bottom: 1em;
   line-height: 1.5;
}

h1{
   margin:0 auto;
   color: rgb(31, 31, 31);
   font-size: 2em;
   max-width: 25em;
}

h2{
   margin:0 auto;
   color: rgb(31, 31, 31);
   font-size: 1.5em;
   max-width: 25em;
}
